*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea/
*.log
*.swp
.DS_Store
local.properties
gradle-app.setting
.gradletasknamecache
